.filter__filter-and-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.filter__add-employee-text {
  color: #eaeaea !important;
  width: fit-content !important;
  text-align: center;
}

.filter__checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.filter__handlers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.filter__handlers-text {
    letter-spacing: 3px !important;
    width: fit-content !important;
}

.filter__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}
