.header {
  background-color: #ebdcb2;
  height: 80px;
}

@media screen and (max-width: 500px) {
    .header {
      height: 40px;
    }
  }

.header__container {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 !important;
    height: 100%;
}


.header__text {
    width: fit-content !important;
}