.header {
  background-color: #ebdcb2;
  height: 80px;
}

.header__container {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 100%;
}

.header__text {
    width: fit-content !important;
}