.footer {
  background-color: #ebdcb2;
  height: 80px;
}

@media screen and (max-width: 700px) {
  .footer {
    height: 40px;
  }
}

@media (pointer: coarse) {
  .footer {
    height: 40px;
  }
}

.footer__container {
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 100%;
  padding: 0 !important;
}

.footer__text {
  width: fit-content !important;
}

.footer__link {
  text-decoration: none;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}

.footer__github {
  background-image: url("../../images/github.svg");
  width: 25px;
  height: 25px;
  opacity: 0.7;
}
